#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$b6EBMZyfxQvTzeyQ$JzSVL1onA.7b4u9KA2EoY21xcrTJLW1K6ZK3kc9WboWR8paYdB38zADyG1KD6JgdcwHvNDdBP1wRSWKPgJQkX1
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=ftppxyadmin --password=$6$vIrmfi9F97hc4cw6$rsqgEMpFy32eYvHfskd2uZgI41XPlziermNq3jU4qlCw0HnfOb2lJWUO9tYEp5NaCCg8yRYXYFccyAwFxOMSf1 --iscrypted --gecos="FTP Proxy Admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools
policycoreutils-python

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
