#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
# graphical
text

# Run the Setup Agent on first boot
#firstboot --enable
ignoredisk --only-use=vda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password - "root"
# !!! CHANGE AFTER INSTALL !!!
#rootpw --iscrypted i$6$K0nu/ShpnkOI$eXjys7bzGZbrj8LwTepVFIzAcUYPbTbn2uPhyBRaxG.M2gnO9vUp6Z6h9Fbwbn4XZE2M0anckhvVRCPaGyaCL0
rootpw root

# System services

services --enabled="chronyd"

# System timezone
timezone America/New_York --isUtc

# Admin user, pass is "admin"
user --groups=wheel --name=admin --password=$6$eYIrF6xuPikYT$b8Ev4EVMc5i8DgbMxmk1Riw2SljNXwCgdeY/wEZnO4A2xsH0wrw/a.C6aA87H/FKUu7.IV5q1XP3m5B7NiVfF. --iscrypted --gecos="Admin"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm

# Partition clearing information
clearpart --none --initlabel

# Shutdown guest following installation
shutdown

%packages
@^minimal
@core
#@base
chrony
kexec-tools
#policycoreutils-python

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
